:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 50px;
    padding: 8px 15px;
    width: 440px;
    border: 1px solid #777;
}

.search-bar .material-icons-outlined {
    color: #777;
    margin-right: 10px;
}

.search-bar input {
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 1rem;
    width: 100%;
}