.header {
  background-color: #000;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 8px 15px;
  width: 500px;
  height: 38px;
}

.search-icon {
  color: #fff;
  stroke: currentColor;
  margin-right: 8px;
  flex-shrink: 0;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  width: 100%;
}

.search-box input::placeholder {
  color: #aaa;
}