:host {
    display: block;
    height: 100vh;
}

.main-layout {
    display: grid;
    height: 100%;
    grid-template-columns: 390px 1fr 390px; /* define as colunaas [sidebar] [conteúdo] [rightbar] */
    grid-template-rows: 66px 1fr; /* [header] [conteúdo] */
    grid-template-areas: "sidebar header header" "sidebar content rightbar";
    gap: 10px; 
    background-color: #000000; 
}

/* encaixando cada componente na sua área */
.layout-header {
    grid-area: header;
    border-bottom: 1px solid #333;
}

.layout-sidebar {
    grid-area: sidebar;
    border-right: 1px solid #333;
    background-color: #121212;
}

.layout-content {
    grid-area: content;
    overflow-y: auto; /* rolar o feed */
    scrollbar-width: thin;
    scrollbar-color: #333 #121212;
}

/* estilos da barra de rolagem (chrome/edge/safari) */
.layout-content::-webkit-scrollbar {
    width: 10px;
}
.layout-content::-webkit-scrollbar-track {
    background: #121212;
}
.layout-content::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #121212;
}
.layout-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.layout-rightbar {
    grid-area: rightbar;
    border-left: 1px solid #333;
    background-color: #1A1A1A;
}