<div class="profile-box">

    <button *ngIf="isLoggedIn" class="edit-profile-btn" (click)="openModal()">
        Edit profile
    </button>

    <div class="left">
        <div class="profile-picture"></div>

        <div class="user-info">
            <h2 class="username">Username</h2>
            <p class="handle">@username</p>

            <p class="bio">
                i love ouçar musica
            </p>

            <nav class="tabs">
                <a routerLink="overview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Overview</a>
                <a routerLink="posts" routerLinkActive="active">Posts</a>
                <a routerLink="followers" routerLinkActive="active">Followers</a>
                <a routerLink="following" routerLinkActive="active">Following</a>
            </nav>
        </div>
    </div>

    <div class="right">
        <div class="track-box">

        <div class="track-text">
            <span class="label">TOP TRACK</span>
            <h3 class="track-title">Runaway</h3>
            <span class="track-artist">Linkin Park</span>
        </div>

            <img class="track-cover" src="assets/images/main-track.jpg" alt="Imagem da faixa principal">
        </div>
        
    </div>
</div>

<div class="modal-overlay" *ngIf="isEditModalOpen" (click)="closeModal()">
    
    <div class="modal-content" (click)="$event.stopPropagation()">
        
        <div class="modal-header">
            <div class="header-left">
                <span class="material-icons-outlined close-icon" (click)="closeModal()">close</span>
                <h3>Edit Profile</h3>
            </div>
            <button class="save-btn" (click)="saveProfile()">Save</button>
        </div>

        <div class="modal-body">
            
            <div class="edit-avatar-centered">
                <div class="avatar-circle">
                    <span class="material-icons-outlined camera-icon">add_a_photo</span>
                </div>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" value="Username">
            </div>

            <div class="form-group">
                <label>Bio</label>
                <textarea rows="3">i love ouçar musica</textarea>
            </div>

        </div>
    </div>
</div>

<!-- aqui entram overview/posts/followers -->
<router-outlet></router-outlet>
