:host {
  display: block;
  height: 100vh;
}

.sidebar {
  width: 380px;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 28px;
  border-right: 1px solid #333;
  height: 100%; 
}

/* ... (resto do CSS da sidebar: .logo, .menu, .menu-item, etc.) ... */
.logo {
  font-size: 2.4em;
  font-family: 'Lato';
  display: inline-block;
  background: linear-gradient(90deg, #136F63, #592AB8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #ccc;
  font-size: 1.6em;
  transition: color 0.3s;
}

.menu-item:hover { 
  color: #fff;
}

.icon {
  width: 22px;
  height: 22px;
  stroke: currentColor;
}

.icon {
  width: 30px;
  height: 30px;
  stroke: currentColor;
}

.bottom {
  border-top: 1px solid #333;
  padding-top: 20px;
}

.settings { 
  color: #777;
}

.settings:hover { 
  color: #fff;
}