<aside class="sidebar">
  <div class="top">
    <h1 class="logo">MIXES</h1>

    <nav class="menu">
      <a routerLink="/feed" class="menu-item">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12L12 3l9.75 9M4.5 10.5v9.75A1.5 1.5 0 006 21.75h12a1.5 1.5 0 001.5-1.5V10.5" />
        </svg>
        <span>Home</span>
      </a>

      <a routerLink="/profile" class="menu-item">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.5 20.25a8.25 8.25 0 0115 0" />
        </svg>
        <span>Profile</span>
      </a>

      <a href="#" class="menu-item">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.081A2.999 2.999 0 0112 19.5a2.999 2.999 0 01-2.857-2.419M21 8.25a7.5 7.5 0 00-15 0v4.5l-1.5 3h18l-1.5-3V8.25z" />
        </svg>
        <span>Notification</span>
      </a>
    </nav>
  </div>

  <div class="bottom">
    <a href="#" class="menu-item settings">
      <img src="assets/images/settings.png" alt="Ícone de Configurações" class="icon">
      <span>Settings</span>
    </a>
  </div>
</aside>