<div class="sidebar-container">
  <div class="logo">
    MIXES
  </div>

  <nav class="main-nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <span class="material-icons-outlined">home</span>
      Home
    </a>
    <a routerLink="/profile" routerLinkActive="active" class="nav-item">
      <span class="material-icons-outlined">person_outline</span>
      Profile
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons-outlined">notifications_none</span>
      Notification
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons-outlined">settings</span>
      Settings
    </a>
  </nav>

  <!-- USER AREA -->
<div class="user_options" (click)="toggleMenu()">

  <a class="nav-item">
    <img *ngIf="userImage" [src]="userImage" class="profile-pic" />
    <span class="material-icons-outlined" *ngIf="!userImage">person_outline</span>

    {{ userName || 'Entrar' }}
  </a>

    <!-- SE NÃO TIVER LOGADO -->
    <ng-template #notLogged>
      <a class="nav-item">
        <span class="material-icons-outlined">person_outline</span>
        Entrar
      </a>
    </ng-template>

    <div class="user-menu" *ngIf="menuOpen">

      <button *ngIf="!userName" class="menu-item" (click)="login()">Fazer login</button>

      <button *ngIf="userName" class="menu-item" (click)="logout()">Sair da conta</button>

    </div>
  </div>
</div>
