<div class="sidebar-container">
  <div class="logo">
    MIXES
  </div>

  <nav class="main-nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <span class="material-icons-outlined">home</span>
      Home
    </a>
    <a routerLink="/profile" routerLinkActive="active" class="nav-item">
      <span class="material-icons-outlined">person_outline</span>
      Profile
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons-outlined">notifications_none</span>
      Notification
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons-outlined">settings</span>
      Settings
    </a>
  </nav>

  <div class="user_options" (click)="toggleMenu()">
    <a href="#" class="nav-item">
      <span class="material-icons-outlined">person_outline</span>
      {{userName || 'Entrar'}}
    </a>

  <div class="user-menu" *ngIf="menuOpen" (click)="$event.stopPropagation()">
    <button class="menu-item" (click)="login(); $event.stopPropagation()">Fazer login</button>
  </div>
  </div>
</div>