<div class="sidebar-container">
  <div class="logo">
    MIXES
  </div>

  <nav class="main-nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <span class="material-icons-outlined">home</span>
      Home
    </a>
    <a routerLink="/profile" routerLinkActive="active" class="nav-item">
      <span class="material-icons-outlined">person_outline</span>
      Profile
    </a>
    <a href="#" class="nav-item">
      <span class="material-icons-outlined">notifications_none</span>
      Notification
    </a>
  </nav>

  <div class="settings">
    <a href="#" class="nav-item">
      <span class="material-icons-outlined">settings</span>
      Settings
    </a>
  </div>
</div>