:host {
    display: block;
    padding: 20px;
}

/* estilização da caixa "what's new?" */
.new-post-box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 15px;
    background-color: #121212;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 6px;
    margin-bottom: 20px;
}

/* foto de perfil na caixa "what's new?" */
.user-profile-picture-small {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #757575;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    flex-shrink: 0;
    border: 1px solid #444;
}

.new-post-box input {
    grid-row: 1/2;
    grid-column: 2/3;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.new-post-box .post-button {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: end;
    background: linear-gradient(90deg, #136F63, #592AB8);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    justify-self: end;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.new-post-box .post-button:hover {
    filter: brightness(1.2);
}