:host {
  display: flex;
  flex-direction: column;
  background-color: #000;
  overflow: hidden;
  height: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 #000;
}
.content::-webkit-scrollbar { 
    width: 8px; 
}
.content::-webkit-scrollbar-thumb { 
    background-color: #333; 
    border-radius: 4px; 
}

.new-post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #000; 
  border-bottom: 1px solid #333;
  padding: 20px 15px;
}

.new-post-top {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.new-post-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.new-post .user-icon-svg {
  width: 40px;
  height: 40px;
  color: #fff;
  flex-shrink: 0;
}

.new-post input {
  flex: 1;
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  color: #fff;
  outline: none;
  font-size: 1.1em;
  padding-bottom: 8px;
}

.new-post button {
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
  background-image: linear-gradient(#000, #000), linear-gradient(90deg, #136F63, #592AB8);
  background-origin: border-box;
  background-clip: padding-box, border-box; /* fundo preto no padding e gradiente na borda */
  padding: 8px 32px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Jost';
  transition: all 0.2s ease-in-out;
}

.new-post button:hover {
  background-image: linear-gradient(90deg, #136F63, #592AB8);
  background-clip: padding-box;
  border-color: transparent;
  color: #fff;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #121212;
  border-top: 1px solid #333;
  font-size: 0.7em;
  color: #777;
  flex-shrink: 0;
}