<article class="post-card">
  
  <header class="post-header">
    <div class="user-profile-picture" style="background-image: url('https://via.placeholder.com/40')"></div>

    <div class="user-info">
      <span class="username">Username</span>
      <span class="handle">@username · 10 hours ago</span>
    </div>
    
    <span class="material-icons-outlined options-icon" (click)="toggleMenu($event)">more_vert</span>
  </header>

  <div class="post-content">
    <p>{{data.content}}</p>
    
    <div class="music-embed">
      <img src="assets/images/capa-album.jpg" alt="Album Art"> 
      <div class="music-info">
        <span class="music-title">It's Not That Deep</span>
        <span class="music-artist">Demi Lovato</span>
      </div>
    </div>
  </div>

  <footer class="post-footer">
    <div class="footer-action action-like">
      <input type="checkbox" name="like" id="like" (change)="onLikeClick()">
      <label class="material-icons-outlined like" for="like"></label>
    </div>
    <div class="footer-action action-comment">
      <label class="material-icons-outlined" name="comment">mode_comment</label>
    </div>
  </footer>

  <!-- menu -->
  <div *ngIf="isMenuOpen" class="post-options-menu">

    <!-- se for dono do post -->
    <ng-container *ngIf="isOwner; else feedMenu">
      <a href="#" class="menu-item" (click)="editPost()">
        <span class="material-icons-outlined">edit</span>
        <span class="menu-text">Edit post</span>
      </a>
      <a href="#" class="menu-item" (click)="deletePost()">
        <span class="material-icons-outlined">delete</span>
        <span class="menu-text">Delete post</span>
      </a>
    </ng-container>

    <!-- se não for dono (feed normal) -->
    <ng-template #feedMenu>
      <a href="#" class="menu-item">
        <span class="material-icons-outlined">block</span>
        <span class="menu-text">Block @username</span>
      </a>
      <a href="#" class="menu-item">
        <span class="material-icons-outlined">person_add_alt</span>
        <span class="menu-text">Follow @username</span>
      </a>
    </ng-template>

  </div>

</article>