:host {
    display: block;
    padding: 20px;
    background-color: #121212;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-radius: 6px;
}

h3 {
    margin-top: 0;
    font-size: 1.4rem;
}

.search-library {
    display: flex;
    align-items: center;
    background-color: #121212;
    border: 1px solid #777;
    border-radius: 50px;
    padding: 8px 12px;
    margin-bottom: 15px;
}

.search-library .material-icons-outlined {
    color: #777;
    margin-right: 10px;
}

.search-library input {
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 0.9rem;
    width: 100%;
}

.filter-chips {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.chip {
    background: linear-gradient(90deg, #136F63, #592AB8);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.chip:hover {
    filter: brightness(1.2);
}

.library-list {
    list-style: none;
    padding: 12px 0 0 0;
    margin: 0;
    border-top: 1px solid #333;
}

.library-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.library-item:hover {
    background-color: #252525;
}

.library-item-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #757575;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    flex-shrink: 0;
    border: 1px solid #444;
}

.library-item .item-name {
    font-weight: 400;
}