:host {
  display: block;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 #121212;
}

:host::-webkit-scrollbar {
  width: 8px;
}

:host::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 4px;
}

.rightbar {
  background-color: #121212;
  border-left: 1px solid #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  border-radius: 10px;
}

.rightbar h3 {
  font-size: 1.em;
}

.library-search input {
  width: 100%;
  background: #222;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  color: #fff;
  outline: none;
}

.library-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
}

.library-filters button {
  background-color: transparent;
  color: white;
  border: 1px solid transparent; 
  background-image: linear-gradient(#121212, #121212), linear-gradient(90deg, #136F63, #592AB8);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 15px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: 'Jost';
  transition: all 0.2s ease-in-out;
}

.library-filters button:hover {
  background-image: linear-gradient(90deg, #136F63, #592AB8);
  background-clip: padding-box;
  border-color: transparent;
  color: white;
}

.library-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.artist {
  display: flex;
  align-items: center;
  gap: 10px;
}

.artist-icon {
  width: 35px;
  height: 35px;
  background: gray;
  border-radius: 50%;
}