<div class="rightbar-container">
  <h3>Your Library</h3>
  
  <div class="search-library">
    <span class="material-icons-outlined">search</span>
    <input type="text" placeholder="Search in your Library">
  </div>

  <div class="filter-chips">
    <button class="chip active">Artists</button>
    <button class="chip">Playlists</button>
    <button class="chip">Albums</button>
    <button class="chip">Tracks</button>
  </div>

  <ul class="library-list">
    <li class="library-item">
      <div class="library-item-picture" style="background-image: url('https://via.placeholder.com/40')"></div>
      <span class="item-name">Demi Lovato</span>
    </li>
    <li class="library-item">
      <div class="library-item-picture" style="background-image: url('https://via.placeholder.com/40')"></div>
      <span class="item-name">Artist</span>
    </li>
    <li class="library-item">
      <div class="library-item-picture" style="background-image: url('https://via.placeholder.com/40')"></div>
      <span class="item-name">Artist</span>
    </li>
    <li class="library-item">
      <div class="library-item-picture" style="background-image: url('https://via.placeholder.com/40')"></div>
      <span class="item-name">Artist</span>
    </li>
  </ul>
</div>